html { overflow: hidden; }
.owl-no-margin { margin: 0; }
.owl-no-padding { padding: 0; }
.owl-vpadding-10 { padding-top: 10px; padding-bottom: 10px; }
.owl-hpadding-10 { padding-left: 10px; padding-right: 10px; }
.owl-vpadding-20 { padding-top: 20px; padding-bottom: 20px; }
.owl-hpadding-20 { padding-left: 20px; padding-right: 20px; }
.owl-vpadding-30 { padding-top: 30px; padding-bottom: 30px; }
.owl-hpadding-30 { padding-left: 30px; padding-right: 30px; }

.owl-align-right>* { right: 0; text-align: right; margin-left: auto; }

.owl-viewport { left: 0px; top: 0px; }

.owl-slider { position: relative; overflow: auto; box-sizing: border-box; }
.owl-slider-page { width: 100%; max-width: 100%; height: 100%; max-height: 100%; height: -webkit-fill-available; position: relative;  }

.owl-vbox { display: flex; flex-direction: column; }
.owl-vbox-item { flex: auto; width: 100%; position: relative; }
.owl-vbox-item.owl-box-size-content { flex: initial; height: auto; }

.owl-hbox { display: flex; flex-direction: row; }
.owl-hbox-item { flex: auto; height: 100%; height: -webkit-fill-available; position: relative; flex-grow: 1; flex-basis: 50%; }

.owl-floating-box { position: absolute; }

.owl-list { display: inline-block; }
.owl-list-simple { list-style: none; }
.owl-list-item { padding: 5px 10px; border: 1px solid #999; border-bottom: none; }
.owl-list-item:last-child { border-bottom: 1px solid #999; }

.owl-width-100p { width: 100%; }
.owl-width-90p { width: 90%; }
.owl-width-80p { width: 80%; }
.owl-width-70p { width: 70%; }
.owl-width-60p { width: 60%; }
.owl-width-50p { width: 50%; }
.owl-width-40p { width: 40%; }
.owl-width-30p { width: 30%; }
.owl-width-20p { width: 20%; }
.owl-width-10p { width: 10%; }
.owl-width-0p { width: 0%; }
